body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    padding: 20px;
    box-sizing: border-box;
}

.kanban-board {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

.kanban-column {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    flex: 1;
}

.kanban-column h2 {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kanban-items {
    min-height: 200px;
    margin-bottom: 20px;
}

.kanban-item {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: calc(100% - 22px);
    word-wrap: break-word; 
    overflow-wrap: break-word;
}

.kanban-item span {
    flex-grow: 1;
    cursor: pointer;
}

.kanban-item.selected {
    background-color: #d0d0ff;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

button.add-button {
    background-color: #28a745;
}

button.add-button:hover {
    background-color: #218838;
}

button.edit-button {
    background-color: #ffc107;
    color: #000000;
}

button.edit-button:hover {
    background-color: #e0a800;
}

button.delete-button {
    background-color: #dc3545;
}

button.delete-button:hover {
    background-color: #c82333;
}

/* Responsividade */
@media (max-width: 768px) {
    .kanban-board {
        flex-direction: column;
        align-items: center;
    }
    .kanban-column {
        width: calc(100% - 40px);
        max-width: none;
    }
}
